%tr{ id: "row-#{catalog.id}" }
	- if can? :destroy_multiple, model
		%td.item-check{style:"width: 10%"}
			= link_to "", catalog_path(catalog), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{catalog.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{catalog.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{catalog.id}" }

		%td{style:"width: 10%"}
			= link_to "", catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				= material_icon.md_24.folder_open
		%td{style:"width: 30%"}
			= link_to "", catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				= catalog.name
		%td{style:"width: 30%"}
			= link_to "", catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				= catalog.section
		%td{style:"width: 30%"}
			= link_to "", catalog_path(catalog, search: @query), remote: true, class: "show-row"
			%span
				-if catalog.public?
					Publicado
				-else
					No Publicado
								
	%td{style:"width: 5%"}		
		= link_to catalog_attachments_path(catalog), class: "btn-floating waves-effect btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Ver Archivos" do
			= material_icon.md_24.navigate_next.css_class("md-dark")