- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")
						= f.input :upload, label: false, collection: [["Subir imagen", 1], ["Imagen por url", 2], ["Video por url", 3], ["Musica por url", 3]],include_blank: t("model.#{controller_name.singularize}.attributes.upload"), input_html: { class: "browser-default" }
						= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'catalog'} }
						= f.input :image,label: t("model.#{controller_name.singularize}.attributes.image"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :url, input_html: {class: "materialize-textarea"}
						= f.input :target, label: t("model.#{controller_name.singularize}.attributes.target"), input_html: {class: "materialize-textarea"}
						= f.input :public, label: "Publicar", as: :checkbox_material

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
